defaults: &defaults
  stale_time_count: 4
  stale_time_unit: weeks
  glass_frog:
    api_key:
  asana:
    api_key:
    workspace_id:
    team_id:

development:
  <<: *defaults
  env: development

test:
  <<: *defaults
  env: test
